<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Geologica:wght@200&family=Inconsolata:wght@200;400&family=Libre+Baskerville:ital@0;1&family=Lumanosimo&display=swap" rel="stylesheet">
</head>

<header>
    <nav class="navbar navbar-expand-custom navbar-mainbg ">
  
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
  
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="far fa-calendar-alt"></i>Today</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/work"><i class="far fa-clone"></i>Work</a>
          </li>
  
  
        </ul>
      </div>
    </nav>
  </header>
<body>
    <main>
